// Custom dark color scheme based on the default dark theme
@import "./dark";

// Override the link color
$link-color: #67B7D1;
$link-color-dark: #67B7D1;

// You may also want to adjust the hover state
$link-color-hover: lighten(#67B7D1, 10%);

// If you want to change other blue elements like buttons
$btn-primary-color: #67B7D1;
