<style>
  /* Custom link colors */
  a {
    color: #67B7D1;
  }
  
  a:hover {
    color: #89c9e3;
  }
  
  /* Navigation links */
  .site-nav .nav-list-link {
    color: #67B7D1;
  }
  
  /* Aux nav links (Collection Page, Discord) */
  .site-header .aux-nav a {
    color: #67B7D1;
  }
  
  /* Active navigation item */
  .nav-list-item .nav-list-link.active {
    color: #67B7D1;
  }

/* Force FAQ to be expanded */
  .nav-list-item:has(a[href*="/faq/"]) > ul.nav-list {
    display: block !important;
  }
  
  .nav-list-item:has(a[href*="/faq/"]) > .nav-list-expander svg {
    transform: rotate(-90deg);
  }
</style>

